@model IEnumerable<CoinmaniaTask.Models.CurrencyHistory>

@{
    ViewData["Title"] = "GetCurrencyHistory";
}

<h1>GetCurrencyHistory</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Base)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BaseSymbol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuoteSymbol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BuyPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SellPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Base)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BaseSymbol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuoteSymbol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuyPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SellPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
        </tr>
}
    </tbody>
</table>
